/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
  }
  
  :root {
    --font-size-normal: 16px;
    --margin-normal: 10px;
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
  }
  
  .fa-solid {
    color: var(--main-color);
  }
  body {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  main {
    padding: 0 50px;
    margin-top: 30px;
  }
  
  .main-container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto; /* Centrer le contenu */
      }
      
  
  
  /***settings***/
  
  .card,
  .box,
  .bloc {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }
  
  .card img,
  .box img,
  .bloc img {
    object-fit: cover;
  }
  
  
  .section-title {
    margin: 0;
    font-size: 22px;
  }
  
  .box-title,
  .card-title,
  .title-bloc {
    font-size: 16px;
  }
  
  .euro {
    font-weight: 700;
  }
  
  .neutral-star {
    color: var(--main-bg-color);
  }
  
  ul {
    list-style: none;
  }
  /*header*/
  header {
   /* height: 79px;*/
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
  }
  
  .logo {
   padding: 50px;
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 61px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    padding: 0 25px;
    /*width: 328,6px;*/
   
  
  }
  nav ul {
    display: flex;
    gap: 68px;
  }
  nav ul li a {
    /*text-decoration: none;
    color: inherit;*/
    padding-top: 14px;
    border-top: 2px solid transparent;
    cursor: pointer;
  }
  
  nav ul li a:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
  }
  
  /*** barre de recherche ****/
  
  .form {
    display: flex;
    flex-direction: row;
  }
  
  label {
display: flex;
width: 40px;


    border-radius: 15px 0px 0px 15px;
   /* opacity: 0px;*/
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar {
    border-style: none;
    border: 1px solid #f2f2f2;
    font-weight: bold;
  }
  
  #search-button-desktop {
    height: 49px;
    color: white;
    background-color: #0065fc;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    font-size: medium;
    border-style: none;
  }
  .search-button-mobile {
    visibility: hidden;
  }
  
  /* icon */
  form i {
    font-size:large;
    color: black;
  }
  
  /*filtres*/
  
  .filters {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .filters-text {
    font-size: 18px;
  }
  
  .filters-sort {
    display: flex;
    gap: 15px;
    font-size: 17px;
  }
  
  .filters-sort li {
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 17px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
  }
  .filters-sort i {
    width: 22px;
    text-align: center;
  }
  .filters-sort li:hover {
    background-color: var(--filter-bg-color);
  }
  
  /*bar-info*/
  
  .bar-info {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .bar-info .fa-solid {
    color: #0065fc;
    width: 35px;
    height: 35px;
    border: 2px solid var(--filter-bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /****** Hébergements And Popular ***********/
  
  
  .accommodation-and-popular section
 {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  box-sizing: border-box;
  
}
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  
  /****** Hebergements ***********/
  
  #accommodation {
    padding: 30px;
    
}

.section-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.lodging-box1,
.lodging-box2 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.box {
/* dimension maquette */
   width: 250px;
   height: 207px;
   justify-content: space-between;
   /*padding: 0 0 15px 0;*/
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    
}

.box img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


.box-content {
    padding: 5px;
    display: flex;
    flex-direction: column; 
  }
  
  .box-title {
    margin-top: 0;
    margin-bottom: 5px; 
    font-size: 16px;
  }
  

.box-subtitle {
font-size: 14px;
    margin: 0;
}


.box-rating {

    margin-left: 15px;
    margin-top: 5px;
  }
  .show-more-container {
    margin-top: 20px;
    font-weight: bold;
}

  /****** Populaires ***********/
  
  #popular {
  /* width: 429px;*/ /*maquette*/
   padding: 30px;

  }
  
  .popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .popular-cards .card {
    display: flex;
    margin-top: 33px;
  }
  
  .popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  .popular-cards .card-subtitle {
    margin: 0;
  }
  
  .popular-cards .card-rating {
    margin-bottom: 5px;
  }
  
  /* activités */
  .section-title {
      padding: 10px;
  }
  .activities-bloc {
    display: flex;
    gap: 30px;
  }
  .bloc img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
  }
  .activities-bloc .bloc {
    padding: 0;
    flex: 1 1 0;
  }
  
  .bloc {
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50%;
    border: 1px;
    background-color: transparent;
    
    
  }
  .title-bloc {
    border-radius: 0 0 10px 10px;
    padding: 5px;
    align-items: center;
    height: 40px;
    background-color: white;
    font-size: small;
  }
  
  /***** footer *****/
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding-top: 20px;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .footer div {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  

    

  
  /* Le code ci-dessous correspond à la version responsive uniquement */
  
  /****** Media queries ***********/
  /* Medium devices (tablets, less/equal than 1024px) */
  @media (min-width: 768px) and (max-width: 1023px) {
    main {
      padding: 0;
    }

         .logo {
        padding: 0;
    }
    
                /***menu tablette ****/

    
    
    
    .filters {
        flex-direction: column;
    align-items: flex-start;
    }
    .filters-sort {
        flex-direction: row;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;

    }
  
      
    }

    /***hébergements tablette ****/
  
    .accommodation-and-popular {
     /* flex-direction: column;*/
      width: 100%;
      gap: 50px;
    }

    
    
  /****populaires tablette***/
    #popular {
      flex-direction: row;
      width: 100%;
      /*margin-top: 50px;
      margin-left: 1px;*/
    }
  
    .popular-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .popular-cards a {
      width: 30%;
    }
  
    .popular-cards .card-title {
      font-size: 14px;
    }
  
    .popular-cards .card-subtitle {
      font-size: 13px;
    }
  /*** avtivities tablette***/
   
  #activities {
      border-top-width: 100px;
      margin-top: 90px;
    }
    .bloc img {
        height: 250px;
    }
    /****footer tablette ****/
    
  
  }
  
  /* Small devices (phones, less than 768px) */
  @media (min-width:320px) and (max-width: 767.98px) {
    /* ... */
   
    main {
      padding: 0;
    }
    .main-container {
      display: flex;
      flex-direction: column-reverse;
    }
  
    /****NAV PHONES****/
  
    header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    
    }
  
    .logo {
      justify-content: center;
    }
    nav {
      width: 100%;
      padding: 0;
    }
    nav ul {
        padding: 0;
      gap: 0;
      width: 100%;
      justify-content: space-around;
    }
  
    nav ul li {
      flex: 1 1 0;
    }
    nav ul li a {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding-top: 14px;
      padding-bottom: 10px;
      border-bottom: 2px solid var(--filter-bg-color);
    }
    nav ul li a:hover {
      color: var(--main-color);
      border-bottom: 2px solid var(--main-color);
      border-top: hidden;

    } 
  
    /****MENU PHONES****/
  
    .menu {
      flex-direction: column;
      justify-content: center;
    }

  .search-bar {
    width: 100%;
  }
    .search-button-mobile {
      width: 52px;
      height: 49px;
      background-color: var(--main-color);
      gap: 10px;
      border-radius: 15px;
      font-size: medium;
      border-style: none;
      visibility: visible;
    }
    .search-button-mobile i {
      color: white;
      
    }
    #search-button-desktop {
      display: none;
    }
    /*filtres phone */
  
    .filtres {
      flex-wrap: wrap;
      width: 100%;
  
  }
  .filters-sort {
      flex-wrap: wrap;
      width: 100%;
  }
  .filters-sort li {
    flex: 1 1 47%;
    padding: 0;
  }
  
  /*****HÉBERGEMENTS PHONES***/
    
  .accommodation-and-popular {
      flex-direction: column-reverse;
      border-radius: 0;
    }
   
   
   .box img {
      width: 100%;
   }
  
  
   #accommodation {
    flex-direction: column;
      width: 100%;
      background-color: transparent;
    }
    .lodging-box1,
    .lodging-box2 {
        flex-wrap: wrap;
    }
    
    
    .box {
    width: 100%;
    }
  
  
  
  
    /*****POPULAIRES PHONES***/
  
    #popular {
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  
    /****ACTIVITY PHONES****/
  
    #activities {
      flex-direction: column;
      padding-top: 50px;
      width: auto;
    }
    .activities-bloc {
      flex-direction: column;
      padding-top: 30px;
    }
    .bloc img {
        height: 140px;
    }
  /***FOOTER PHONES***/
  
    .footer {
      flex-direction: column;
    }

}