/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}
body {
  margin-left: 10px;
  margin-right: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 0 50px;
  margin-top: 30px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
}

/***settings***/

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.box {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.bloc {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.box img {
  object-fit: cover;
}

.bloc img {
  object-fit: cover;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.box-title {
  font-size: 16px;
}
.card-title {
  font-size: 16px;
}
.title-bloc {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

ul {
  list-style: none;
}
/*header*/
header {
  /*height: 79px;*/
  display: flex;
  justify-content: space-between;
}

.logo {
 padding: 50px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 61px;
}

nav {
  justify-content: center;
  width: 328.6px;
  padding: 0 25px;

}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 68px;
}
nav ul li a {
  text-decoration: none;
  color: initial;
  padding-top: 14px;
  border-top: 2px solid transparent;
}

nav ul li a:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/*** barre de recherche ****/

form {
    display: flex;
    flex-direction: row;
    gap: 0px;
  }
  
  label {
    width: 50px;
    gap: 0px;
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #search-bar {
    border: 1px solid #f2f2f2;
    font-weight: bold;
  }
  
  #search-button-desktop {
    width: 132px;
    height: 49px;
    color: white;
    background-color: #0065fc;
    border-radius: 0px 15px 15px 0px;
    font-size: medium;
    border-style: none;
  }
  
  .search-button-mobile {
    visibility: hidden;
  }
  
  /* icon */
  form {
    font-size:large;
    color: black;
  }

/*filtres*/

.filters {
  
  align-items: center;

}
.filters p {
  font-weight: bold;
}
.filters-text {
  font-size: 18px;
}

.filters-sort {
  display: flex;
  gap: 5px;
  font-size: 15px;
}

.filters-sort li {
  height: 30px;
  width: 120px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 17px;
  border: 2px solid #d9d9d9;
  border-radius: 30px;
}
.filters-sort i {
  width: 22px;
  text-align: center;
}
.filters-sort li:hover {
  background-color: var(--filter-bg-color);
}

/*bar-info*/

.bar-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.bar-info .fa-solid {
  color: #0065fc;
  width: 35px;
  height: 35px;
  border: 1px solid var(--filter-bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/****** Hebergements And Populaires ***********/

.accommodation-and-popular section
{
 background-color: var(--main-bg-color);
 border-radius: 20px;
 box-sizing: border-box;
 
}
.accommodation-and-popular {
   display: flex;
   justify-content: space-between;
   gap: 30px;
 }
 
 /****** Hebergements ***********/
 
 #accommodation {
    width: 66%;
   padding: 30px;
   
}

.section-title {
   margin-bottom: 20px;
   font-size: 24px;
   color: #333;
}

.lodging-box1,
.lodging-box2 {
   display: flex;
   gap: 20px;
   margin-bottom: 20px;
}

.box {
    width: 88%;
  justify-content: space-between;
  padding: 0 0 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.box img {
   width: 100%;
   height: 124px;
   object-fit: cover;
   border-radius: 20px 20px 0 0;
}



.box-content {
   padding: 5px;
   display: flex;
   flex-direction: column; 
 }
 
 .box-title {
   margin-top: 0;
   margin-bottom: 5px; 
   font-size: 16px;
 }
 

.box-subtitle {
font-size: 14px;
   margin: 0;
}


.box-rating {

   margin-left: 15px;
   margin-top: 5px;
 }
 .show-more-container {
   margin-top: 20px;
   font-weight: bold;
}

 /****** Populaires ***********/
 
 #popular {
  padding: 30px;

 }
 
 .popular-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 .popular-cards .card {
   display: flex;
   margin-top: 33px;
 }
 
 .popular-cards img {
   width: 33%;
   height: 136px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
 }
 
 .popular-cards .card-content {
   width: 67%;
   padding-left: 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-sizing: border-box;
 }
 
 .popular-cards .card-title {
   margin-top: 10px;
   margin-bottom: 4px;
 }
 
 .popular-cards .card-subtitle {
   margin: 0;
 }
 
 .popular-cards .card-rating {
   margin-bottom: 5px;
 }
/* activités */
#activities {
    margin-left: 30px;
    margin-right: 30px;
}

.activities-bloc {
  display: flex;
  gap: 30px;
}
.activities-bloc .bloc img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
}
.activities-bloc .bloc {
  padding: 0;
  flex: 1 1 0;
}

.bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 50%;
  border: 1px#d9d9d9;
  box-shadow: 30px 0 40px rgba(0, 0, 0, 0.1), -30px 0 40px rgba(0, 0, 0, 0.1);
}
.title-bloc {
  border-radius: 0 0 10px 10px;
  padding: 5px;
  align-items: center;
  height: 40px;
  background-color: white;
  font-size: small;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/***** footer *****/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f2f2f2;
  margin-top: 50px;
  margin-right: 30px;
  margin-left: 30px;
}
.footer div {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 1024px) {


  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
  }
  .hebergements {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
  }
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
  
    #search-button-mobile {
        display: none;
      }
  .filters {
    flex-wrap: wrap;

    
  }

  .accommodation-and-popular {
    flex-direction: column;
    height: 913px;
    gap: 50px;
  }

  #accommodation {
    width: 100%;
  }


  .popular-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .popular-cards a {
    width: 30%;
  }

  .popular-cards .card-title {
    font-size: 14px;
  }

  .popular-cards .card-subtitle {
    font-size: 13px;
  }

  #activities {
    border-top-width: 100px;
    margin-top: 90px;
  }
.bloc {
  height: 300px;

}

/* Small devices (phones, less than 768px) */
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  /* ... */
   
  main {
    padding: 0;
  }
  
  /****NAV PHONES****/

  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
  }

  .logo {
    justify-content: center;
  }
  nav {
    width: 100%;
    padding: 0;
  }
  nav ul {
      padding: 0;
    gap: 0;
    width: 100%;
    justify-content: space-around;
  }

  nav ul li {
    flex: 1 1 0;
  }
  nav ul li a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--filter-bg-color);
  }
  nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    border-top: hidden;

  } 

  /****MENU PHONES****/

 

.search-bar {
  width: 100%;
}
  .search-button-mobile {
    width: 52px;
    height: 49px;
    background-color: var(--main-color);
    gap: 10px;
    border-radius: 15px;
    font-size: medium;
    border-style: none;
    visibility: visible;
  }
  .search-button-mobile i {
    color: white;
    
  }
  #search-button-desktop {
    display: none;
  }


  /*filtres phone */

  .filtres {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    width: 100%;

}
.filters-sort {
    flex-wrap: wrap;
}
.filters-sort li {
  flex: 1 1 47%;
  padding: 0;
}

/*****HÉBERGEMENTS PHONES***/
  
.accommodation-and-popular {
    flex-direction: column-reverse;
    border-radius: 0;
  }
 
 
 .box img {
    width: 100%;
 }


 #accommodation {
  flex-direction: column;
    width: 100%;
    background-color: transparent;
  }
  .lodging-box1,
  .lodging-box2 {
      flex-wrap: wrap;
  }
  
  
  .box {
  width: 100%;
  }




  /*****POPULAIRES PHONES***/

  #popular {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  /****ACTIVITY PHONES****/

  #activities {
    flex-direction: column;
    padding-top: 50px;
    width: auto;
  }
  .activities-bloc {
    flex-direction: column;
    padding-top: 30px;
  }
  .bloc img {
      height: 140px;
  }
/***FOOTER PHONES***/

  .footer {
    flex-direction: column;
  }

}